*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "poppins", sans-serif;
}

body
{
display: flex;
justify-content: center;
align-items: center;
min-height: 100vh;

background: linear-gradient(135deg,#4e54c8,#8f94fb);
}

.box
{
position: relative;
width: 300px;
}
.box .inputBox
{
position: relative;
width: 100%;
background: #fff;
padding: 5px;
border-radius: 8px;
box-shadow: 0 15px 25px rgba(0,0,0,0,15);
}
.box .inputBox input
{
position: relative;
width: 100%;
outline : none;
border: none;
padding: 10px 5px;
}

.box .inputBox #toggleBtn
{
position:absolute;
right: 10px;
top: 8px;
width: 34px;
cursor : pointer;
height: 34px;
display: flex;
justify-content: center;
align-items:center;
border-radius: 50%;
background: rgba(0,0,0,0,05);

}
.box .inputBox #toggleBtn::before
{
content: "\f06e";
font-family: fontAwesome;
}
.box .inputBox #toggleBtn.hide::before
{
    content: "\f070";
}
.validation
{
    background: #09496e;
    padding: 10px;
    margin-top:30px;border-radius: 8px;
    box-shadow: 0 15px 25px rgba(0,0,0,0,15);
    background: linear-gradient(135deg,#0f0c29,#302b63,#24243e);
}
.validation ul
{
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 8px;
}
.validation ul li
{
position: relative;
list-style: none;
color: #ffffff;
font-size:0.85em;
transition: 0.5s;
}


.validation ul li.valid
{
    color: rgba(255,255,255,0.5);
}
.validation ul li::before
{
    content: '\f192';
    width: 20px;
    height: 10px;
    font-family: fontAwesome;
    display: inline-flex;
}
.validation ul li.valid::before
{
    content: '\f00c';
    color: #0f0
}
